.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 50px; 
    background-color: rgb(124, 222, 255);
    border: 1px solid rgb(24, 24, 255);
    padding: 20px;
    height: 600px;
}

.item{
    background-color: aqua;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
}
.item1{
    grid-area:1 / 1 / span 4 / span 2;
}
/*1-row start  2-columns star 3-rowend 4-colums end*/