@media (aspect-ratio: 1/1){
    body{
        background-color: red;
    }
}
@media (aspect-ratio: 4/2){
    body{
        background-color: greenyellow;
    }
}
@media (max-aspect-ratio: 1/2){
    body{
        background-color: purple;
    }
}
/* aspect radio so funciona por meio da proprção por exemplo
1/1 seria um quadrado
4/2 retangulo, largura equivale a 4 e altura a 2