.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px 50px; 
    background-color: rgb(124, 222, 255);
    border: 1px solid rgb(24, 24, 255);
    padding: 20px;
    height: 600px;
}

.item{
    background-color: aqua;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
}
.item7{
background-color: greenyellow;
grid-column-start: 3;
grid-column-end: 4;
grid-row-start: 1;
grid-row-end: 5;
}
.item5{
    background-color: rgb(91, 231, 189);
    grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 4;
grid-row-end: 5;
}
.item11{
    grid-row-start: 3;
    grid-row-end: 5;  
    background-color: seagreen;
}